.cook-view {
  height: 100%;
  display: flex;
  background-color: navy;
  color: white;
  flex: 1;
  margin: 10px;
  padding: 10px;
}

a {
  color: white;
}

div.cook-view > div {
  border: 3px solid white;
  padding: 10px;
}
.instructions-list li {
  margin-top: 0.5em;
}
.ingredients-list li {
  list-style: none;
}

.recipe-summary {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.recipe-session {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recipe-session button {
  margin: 0.5em;
}

h1 {
  margin-block-start: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
